.app__Post {
  margin: 2rem 6rem;
  width: 50vw;
  height: auto;
  border: 1px solid #00000048;
  border-radius: 5px;
  display: block;
}

.app__PostHeader {
  display: flex;
  align-items: center;
}

.app__username {
  position: relative;
  top: 5px;
  left: 10px;
}

.app__PostImg img {
  margin: 1rem 0 0;
  object-fit: contain;
  width: 100%;
}

.app__PostIcons {
  margin-bottom: 0.25rem;
}

.app__PostComments {
  margin-bottom: 1.5rem;
}

.leftIndent {
  max-width: 90vw;
  position: relative;
  left: 1.5rem;
  top: 0.5rem;
}

@media (max-width: 721px) {
  .app__Post {
    width: 100vw;
    margin: 2rem auto;
    min-width: 100vw;
  }
}
