.app__Post {
  margin: 2rem 6rem;
  width: 50vw;
  height: auto;
  border: 1px solid #00000048;
  border-radius: 5px;
  display: block;
}

.app__PostHeader {
  display: flex;
  align-items: center;
}

.app__username {
  position: relative;
  top: 5px;
  left: 10px;
}

.app__PostImg img {
  margin: 1rem 0 0;
  object-fit: contain;
  width: 100%;
  border-top: 1px solid lightgrey;
}

.app__PostIcons {
  margin-bottom: 0.25rem;
}

.app__PostComments {
  margin-bottom: 1.5rem;
}

.app__PostDescriptionEdit {
  display: flex;
  justify-content: space-between;
}

.editDescription {
  padding: 0.25rem;
  position: relative;
  bottom: 5px;
  right: 10px;
}

.editDescription:hover {
  background-color: lightgrey;
  border-radius: 50%;
  transform: scale(1.25);
}

.deletePost {
  padding: 0.25rem;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.deletePost:hover {
  background-color: rgba(255, 0, 0, 0.568);
  border-radius: 50%;
  transform: scale(1.25);
}

.like:hover {
  transform: scale(1.25);
}
.comment:hover {
  transform: scale(1.25);
}

.leftIndent {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.app__PostForm {
  display: flex;
}

.app__PostForm input {
  flex: 1;
  border: none;
  padding: 0.5rem;
  border-top: 1px solid lightgrey;
}

.app__PostForm button {
  flex: 0;
  color: #ffa45b;
  background-color: transparent;
}

@media (max-width: 721px) {
  .app__Post {
    width: 100vw;
    margin: 2rem auto;
    min-width: 100vw;
  }
}
